.header {
    display: flex;
    justify-content: space-between;
    min-height: 52px;
    padding: 28px 48px 0 48px;
    margin: 0;
    max-width: 1184px;
}

@media screen and (min-width: 1281px) {
    .header {
        max-width: 1184px;
        margin: 0 auto;
    }
}

@media screen and (min-width:321px) and (max-width: 768px) {
    .header {
        padding: 28px 24px 0 24px;
    }
}

@media screen and (min-width:321px) and (max-width:767px) {
    .header {
        padding: 6% 6% 0;
    }
}

@media screen and (max-width:320px) {
    .header {
        margin: 0;
        padding: 0px 16px;
    }
}