.lead__title{

    font-family: Inter;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    max-width: min-content;
    margin: 0 auto;
    padding-top: 56px;
}

@media screen and (min-width:768px) and (max-width: 1024px){
    .lead__title{
        padding-top: 48px;
    }
} 

@media screen and (min-width:321px) and (max-width: 767px){
    .lead__title{
        font-weight: 900;
        padding-top:15%;
        font-size: 12.5vw;
        line-height: 13.5vw;
    }
}

@media screen and (max-width:320px){     
   .lead__title{ 
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    padding-top: 50px;
   }
}