.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 525px) {
    .footer__copyright {
        padding-top: 48px;
    }
}