.place{
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
    column-gap: 15px;
}

@media screen and (min-width:769px) and (max-width: 1024px)
 {
    .place{
        max-width: 928px;
    }  
}

@media screen and (min-width:711px) and (max-width: 768px){
    .place{
        max-width: 720px;
    }
}

@media screen and (min-width: 321px) and (max-width: 710px){
    .place {
        row-gap: 32px;
        grid-template-columns: min-content;
        max-width: 440px;
        justify-content: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .place {
        row-gap: 32px;
        grid-template-columns: min-content;
        max-width: 440px;
        justify-content: center;
        margin: 0 auto;
    }
}
